
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    --bcolor : rgb(43, 0, 42);
    --navbarcolor: whitesmoke;
}

body{
    background-color:var(--bcolor) ;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20x 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbarlogo{
    display: flex;
    align-items: center;
}
.navbarlogo img{
    border-radius: 50px;
}
.logo{
    font-size: 25px;
    color: var(--navbarcolor);
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: var(--navbarcolor);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color:aqua;

}
.navbar a:hover,
.navbar a.active{
    color:aqua;
    
}