
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    --bcolor : rgb(43, 0, 42);
    --navbarcolor: whitesmoke;
    --navbarhovercolor: rgb(212, 139, 255);
}

body{
    background-color:var(--bcolor) ;
    color: var(--navbarcolor);


}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 99%;
    padding: 20x 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.navbarlogo{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.navbarlogo img{
    border-radius: 50px;
}
.logo{
    font-size: 25px;
    color: var(--navbarcolor);
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;

}
.navbar a {
    font-size: 18px;
    color: var(--navbarcolor);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color:var(--navbarhovercolor);

}
.navbar a:hover,
.navbar a.active{
    color:var(--navbarhovercolor);
    
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--navbarhovercolor);
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width:345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height: 100%;
    background: var(--navbarhovercolor);
    border: 2px solid var(--navbarhovercolor);
    border-radius: 10px;
    text-decoration: none;
    font-size: 19px;
    color: var(--bcolor);
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition:  .5s;

}
.btn-box a:nth-child(2){
    background: transparent;
    color: var(--navbarhovercolor);
}
.btn-box a:nth-child(2):hover{
    color: var(--bcolor);
}
.btn-box a:hover{
    color: var(--navbarhovercolor);
}
.btn-box a:nth-child(2)::before{
    background: var(--navbarhovercolor);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:  var(--bcolor);
    z-index:-1;
    transition: .3s;
}
.btn-box a:hover::before{
    width: 100%;

}